@import "../variables";
@import "../build_essentials";
@import "bootstrap/scss/mixins/border-radius";
@import "bootstrap/scss/mixins/box-shadow";
@import "bootstrap/scss/mixins/transition";
@import "bootstrap/scss/mixins/gradients";
@import "bootstrap/scss/mixins/breakpoints";
@import "bootstrap/scss/vendor/rfs";
@import "bootstrap/scss/mixins/forms";
@import "bootstrap/scss/forms";

.job-card {
  border: solid 1px var(--brand-brandcolour);
  width: calc(100% - 2rem);

  .job-bullets {
    min-height: 60px;
  }

  p {
    strong {
      color: var(--brand-brandcolour);
    }

    &.bullet {
      margin: 0;
      font-size: 0.9em;
      position: relative;
      padding-left: 1.5rem;

      svg {
        position: absolute;
        left: 0;
        top: 0.1rem;

        path {
          fill: var(--brand-brandcolour);
        }
      }
    }
  }
}

.job-listings {
  flex-wrap: wrap;
}

.search-filters {
  input, select {
    width: 100%;
    border: solid 1px var(--brand-brandcolour);
    padding: 0.25rem;
    background: var(--brand-bodybackground);
  }
  label, .jb-label {
    display: block;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  .jb-checkbox-wrapper {
    display: flex;

    input {
      &.form-check-input {
        width: 20px;
        height: 20px;
        border: solid 2px var(--brand-brandcolour);
        padding: 0;
        margin-right: 0.5rem;

        &:before {
          content: '';
          font-size: 14px;
          color: transparent;
          background-color: transparent;
          display: block;
          width: 15px;
          height: 15px;
          background-size: 90% 90%;
          background-repeat: no-repeat;
          background-position: center;
          margin: 0 auto;
        }

        &:checked {
          background: transparent;
          &:before {
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>');
          }
        }
      }
    }

    label {
      font-weight: 400;
    }
  }


  .jb-checkbox-wrapper {

  }

}

.h-100 {
  height: 100%;
}
.fw-bold {
  font-weight: 700;
}

.pagination {
  a {
    text-decoration: none;

    &.current {
      font-weight: 700;
    }
  }
}

.modal__container {
  overflow: hidden;
}

@include media-breakpoint-up('md') {
  .job-card {
    width: calc(50% - 2rem);
  }
}

@include media-breakpoint-up('lg') {
  .job-card {
    width: calc(33% - 2rem);
  }
}

@include media-breakpoint-up('xl') {
  .job-card {
    width: calc(25% - 2rem);
  }
}
