@import "../variables";

.bbp-cta {
  .cta-image {
    border: solid 1px var(--brand-brandcolour);
  }

  .cta-title {
    color: var(--brand-brandcolour);
    font-size: $h3-font-size;
    text-align: center;
    font-family: var(--brand-titlefamilyname);
  }

  p {
    &.cta-holder {
      text-align: center;
    }
  }
}
