@import "../build_essentials";

.bbp-video-hero {

  .hero-container {
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  video {
    object-fit: cover;
    height: 100%;
    width: 100%;
    pointer-events: none;
  }

  .content-holder {
    position: absolute;
    top: 50%;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    transform: translateY(-50%);
    max-width: 800px;
  }

  .content {
    margin: 0 auto;
    padding: 2rem 1.5rem;
    color: $white;
  }

}

