//Nav styles to be included in the common file

#mainnav-holder {
  transition: all 0.5s ease;

  &.active {
    min-width: max(360px, 30vw);
    background: white;
    height: 100%;
    max-width: 500px;
    right: 0;
  }
}

#mainnav-list, #mainnav-list ul {
  list-style: none;
}

#mainnav-list {
  a {
    text-decoration: none;
  }
  .nav-item {
    color: var(--brand-brandcolour);
    font-size: $navigation-level1-size;
    border-bottom: solid 1px;
    position: relative;

    a {
      margin-left: 2rem;
    }
  }
  .child-nav-item {
    color: var(--brand-bodycolour);
    font-size: $navigation-level2-size;
  }

  .nav-expander {
    transition: all 0.5s ease;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    display: inline-block;
    width: 2rem;
    position: absolute;
    left: 0;
    top: 1rem;
    color: var(--brand-brandcolour);

    &.active {
      transform: rotate(90deg);
    }
  }

  ul {
    &.child-nav {
      transition: all 0.5s ease;
      overflow: hidden;
      max-height: 0;

      &.active {
        max-height: 300px;
        padding: 0.5rem 0;
      }
    }
  }
}
